<!DOCTYPE html>
<html>
<head>
  <title>High Risk Conditions</title>
  <link rel="stylesheet" type="text/css" href="css\Conditions.css">
</head>
<body>

<h1>Do you have any of these High Risk Pre-existing conditions?</h1>
<h2>Check below if one or more apply to you</h2>

<form action="OtherConditions.html">
  <section id = "container">
  <input type="checkbox" id="condition1" name="condition1" value="Cancer">
  <label for="conditions"> Cancer 
    <p>Chronic Kidney Disease</p> 
    <p>Any Heart Condition</p> 
    <p>Weakened Immune System (from solid organ transplant)</p> 
    <p>Obesity</p> 
    <p>Pregnancy Sickle Cell Disease</p> 
    <p>Smoking</p> 
    <p>Type 2 Diabetes Mellitus</p> 
    <p>COPD (Chronic Obstructive Pulmonary Disease)</label><br></p>

  <button type="submit" id="next" class="button">Next</button>
  </section>
</form>

</body>
</html>