<html>
<head>
<title>Sign Up Form</title>
<link rel="stylesheet" href="Sign_Up.css">
<script src="SignUp.js"></script>
<img src="/TAMU-Logo-white.PNG">

</head>
  <body> 
    
    <section id="containter" class="card card-container">

    <div class="sign-up-form">

      <h1>Sign Up Now</h1>
      <form action = "auth/signup" method="post" >
        <p><input type="text" name="fname" class="input-box" pattern="[A-Za-z ]+" placeholder="Your First Name" required></p>
        <p><input type="text" name="lname" class="input-box" pattern="[A-Za-z ]+" placeholder="Your Last Name" required></p>
        <p><input type="number" name="age" class="input-box" placeholder="Age" required></p>
        <p><input type="email" name="email" id="Email" class="input-box" placeholder="Your Email" required="required"></p>
        <p><input type="tel" name="phone" required="required" class="input-box" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="Your Phone Number"></p>
        <p><input type="password" name="password" id="password" required="required" class="input-box" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  placeholder="Your Password"></p>
        <p><input type="password" name="passwordConfirm" id="confirmPassword" required="required" class="input-box" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Confirm Password"></p>

        <button type="submit" id="next" class="button">Next</button>
      </form>
    </div>
   </section>
   <script type="text/javascript" src="SignUp.js"></script>
  </body>
</html>