<!DOCTYPE html> 
<html>
<head>
	<title>Group Registration</title>
	<link rel="stylesheet" type="text/css" href="GR.css">
	<script src="/Gr.js"></script>

</head>

<body>
	<section id="containter" class="card card-container">
		<div class="sign-up-form">
	<h1>Group Registration</h1>
	<form action = "auth/GR" method = "POST">
	<p><input type="text" required="required" class="input-box" placeholder="Create your id" name="group_id"></p>
	<p><input type="text" required="required" class="input-box" placeholder="Group Name" name="GName"></p>
	{{!-- <input type="text" required="required" class="input-box"  pattern="[A-Za-z ]+"placeholder="Member First Name" name="FName">
	<input type="text" required="required" class="input-box"  pattern="[A-Za-z ]+" placeholder="Member Last Name" name="LName">
	<input type="number" required="required" class="input-box" placeholder="Age" name="Age"> --}}
	<input type="email" id="Email" class="input-box" placeholder="Verify Email" required="required" name="Email">
	{{!-- <input type="tel" required="required" class="input-box" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="Member Phone Number" name="Phone"> --}}
	<p><a href="profile"><button type="submit"  id="SignUp" class="button">Sign Up</button></p></a>
	<p><button type="submit"  id="NewMember" class="button" formaction="NewMemberSignUp.html">Add a New Member</button></p>
</div>
	</section>
</body>
